<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello LMoon!</title>

</head>
<body>
	<form id="cform" action="#" th:action="@{/updateConf}" th:object="${vo}" method="post">
		<textarea cols="60" rows="40" th:field="*{conf}" style="margin: 0px;padding:0px;width: 100%;"></textarea>
		<!-- <input type="text" th:field="*{conf}"/> -->
		<input type="submit" />
	</form>
</body>
</html>
