<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello LMoon!</title>
<meta name="viewport" content="width=device-width,inital-scale=1.0,minimum-scale=0.5,maximum-scale=2.0">
<script src="../js/jquery-1.7.2.min.js"></script>
<script src="../js/clipboard.min.js"></script>
<style type="text/css">
div .list{
    margin-top: 5px;
    margin-bottom: 5px;
}
</style>
</head>
<body>
	<div th:if="${#lists.isEmpty(list)}">Hello LMoon!Failed to get ss account...</div>
	<div>
		<!-- <input type="button" id="goalipay" onclick="doclick()" value="点我有惊喜哦~"></input> -->
		<button class="btn" data-clipboard-action="copy" data-clipboard-target="#alitext" id="goalipay">点我有惊喜哦~</button>
	</div>
	<div th:if="${not #lists.isEmpty(list)}">
		<div class="list" th:each="entry:${list}">
			<a th:attr="id=${entry.id}" th:href="${entry.url}" th:text="${entry.server}" >Hello LMoon!</a>&nbsp;&nbsp;<input type="button" value="测试连接" th:attr="id='test'+${entry.id},onclick='javascript:testConnect(\''+${entry.id}+'\',\''+${entry.server}+'\',\''+${entry.serverPort}+'\');'" >&nbsp;&nbsp;<input type="button" value="二维码" th:attr="onclick='javascript:showQrcode(\''+${entry.url}+'\');'" >&nbsp;&nbsp;<input type="button" onclick="javascript:showDesc(this);" value="﹀" style="font-family: serif;">
			<div style="display: none;font-family: serif;">
				server:<b th:text="${entry.server}"></b><br>
				serverPort:<b th:text="${entry.serverPort}"></b><br>
				method:<b th:text="${entry.method}"></b><br>
				password:<b th:text="${entry.password}"></b><br>
				remarks:<b th:text="${entry.remarks}"></b><br>
			</div>
		</div>
	</div>
	<div>
	<input style="width:5px;" id="alitext" value="快来领取支付宝跨年红包！1月1日起还有机会额外获得专享红包哦！复制此消息，打开最新版支付宝就能领取！guwR9z62F3"></input>
	</div>
<!-- 	<div>
		<img id="qrimg" src="" />
	</div> -->
	<script language="javascript" type="text/javascript"> 
	/* var abc = document.getElementById('ids');
	if(abc && navigator.userAgent.match('iPhone|iPod|Android|ios|SymbianOS')){
		abc.click();
	} */
	
	!function(){
		if(navigator.userAgent.match('iPhone|iPod|Android|ios|SymbianOS')){			
	        document.getElementById("goalipay").click();
		}
	}();

	/* function doclick(){
		document.getElementById("alitext").select();
		document.execCommand("Copy");
		window.location.href="alipay://";
	} */

	$(document).ready(function(){         
        var clipboard = new Clipboard('#goalipay');      
        clipboard.on('success', function(e) {       
            console.log('success');  
            //alert('success');   
            e.clearSelection();   
            window.location.href="https://ds.alipay.com/?from=mobileweb";   
            //window.location.href="http://www.baidu.com";   
        });      
    });    

	function showDesc(e){
		var ne=e.nextElementSibling;
		if(e.value=="﹀"){
			e.value = "︿";
			ne.style.display="block";
		}else if(e.value=="︿"){
			e.value = "﹀";
			ne.style.display="none";
		}
		
	}
	/* function showImg(url){
		document.getElementById('qrimg').src = "/s/qrcode?url="+url;		
	}	 */
	function showResult(dom, imgsrc) {
        dom.innerHTML = '<div id="ss_plugin_mask" style="margin:0;font-family:\'Source Sans Pro\', \'Microsoft Yahei\',sans-serif,Arial; font-size:14px;color:black;position:fixed;top:0;right:0;bottom:0;left:0;background:#f1f1f1;background:rgba(0,0,0,0.39);z-index:99999"></div>' + 
                        '<div style="margin:0;font-family:\'Source Sans Pro\', \'Microsoft Yahei\',sans-serif,Arial; font-size:14px;color:black;position:fixed;top:80px;left:50%;margin-left:-141px;padding:10px 10px;width:260px;border:1px solid #d9d9d9;background:#fff;text-align:center;z-index:100000;">' + 
                            '<a id="ss_plugin_close" href="javascript:;" style="text-decoration:none;color:#666;position:absolute;top:5px;right:10px;display:block;width:20px;height:20px;font-size:20px;cursor:pointer">×</a>' + 
                            '<p style="margin:0;padding: 0;line-height:10px">生成二维码为：</p>' + 
                            '<img style="box-shadow:2px 2px 9px 3px #888888;margin: 10px;" width="220" height="220" src="' + imgsrc + '" /></div>';
	    dom.style.display = "block"; // show

	    var close_btn = document.getElementById("ss_plugin_close");
	    close_btn.onclick = function() {
	        dom.innerHTML = " "; // hide
	    }
	    var mask = document.getElementById("ss_plugin_mask");
	    mask.onclick = function() {
	        dom.innerHTML = " "; // hide
	    }
	    
	    return false;
	}

	function getMaskContainer() {
	    var qrcode_div = document.getElementById("ss_qrcode_plugin");
	    if (!qrcode_div) {
	        qrcode_div = document.createElement("div");
	        qrcode_div.id = "ss_qrcode_plugin";
	        qrcode_div.style.display = "none";
	        document.body.appendChild(qrcode_div);
	    }
	    return qrcode_div;
	}

	function showQrcode(url) {
	    var qrcode_dom = getMaskContainer();
	    showResult(qrcode_dom, "/s/qrcode?url="+url);	    
	}

	function testConnect(id,host,port) {
		$("#test"+id).val("testing...");
		$("#test"+id).attr("disabled","true");
		$.ajax({
			url:"/testConnect?id="+id+"&host="+host+"&port="+port,
			async:true,
			success:function(data){
				data = $.parseJSON(data);
				$("#test"+data.id).val(data.success==1?"√":"×");
				$("#test"+data.id).removeAttr("disabled");
				}
			});	    
	}
	
	</script>
</body>
</html>
