<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vipvideo')}">

<body>


<div class="container">
  <h1>VipVideo visited remark</h1>
  <table border="1" width="100%">
  <tr>
  <td>时间</td>
  <td>IP</td>
  </tr>
  <tr th:each="vo : ${list}">
  <td th:text="${vo.ctime}"></td>
  <td th:text="${vo.remark}"></td>
  </tr>
  </table>
 <!--  <ul th:each="vo : ${list}">
    <li>
    <div th:text="${vo.ctime}"></div>
    <div th:text="${vo.remark}"></div>
    </li>
  </ul> -->
</div>

</body>
</html>
